.post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #413a3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-detail h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.post-detail p {
  font-size: 1.2em;
  margin: 5px 0;
}

.post-detail p span {
  font-weight: bold;
}